@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

:root {
    --fonte-titulos: 'Oswald', sans-serif;
    --fonte-textos: 'Open Sans', sans-serif;

    --primeira-cor: #117050;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-textos);
}

header .line {
    background-color: var(--primeira-cor);
    height: 10px;
}

.conteiner {
    max-width: 1140px;
    margin: auto;
}

.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header--area img {
    width: 64px;
    height: 64px;
}

.header--right {
    display: flex;
    align-items: center;
}

.header--search form {
    display: flex;
}

.header--search input {
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header--search button {
    border: 0;
    background: transparent;
    margin-left: -25px;
    cursor: pointer;
}

.header--search button img {
    width: 16px;
    height: 16px;
}

.header--menu {
    margin-left: 50px;
    cursor: pointer;
}

.header--menu img {
    width: 24px;
    height: 24px;
}

.banner {
    background-image: url("../imagens/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.banner h1 {
    font-family: var(--fonte-titulos);
    font-size: 6em;
    font-weight: bold;
    line-height: 110px;
    margin-bottom: 35px;
}

.banner--imagens {
    margin-top: 55px;
}

.banner--imagens img {
    width: 148px;
    height: 148px;
    border: 5px solid var(--primeira-cor);
    border-radius: 50%;
    margin-right: 35px;
}

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.area1--content {

}

.area1--img1 {
    background-color: aquamarine;
}

.area1--img2 {
    background-color: aqua;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}